{%extends "base.html" %}
{% block content %}
<button class="gradient-button hamburger" onclick="toggleMenu()">
    ☰
</button>

<nav id="sideMenu" class="side-menu">
    <a href="{{ url_for('index') }}">ホーム</a>
    <a href="{{ url_for('myaccount') }}">マイアカウント</a>
    <a href="{{ url_for('circle_list') }}">サークル・部活動一覧</a>
</nav>

<div id="overlay" class="overlay" onclick="toggleMenu()"></div>

<h1>サークル・部活動一覧</h1>

<div class="circle_card">
    <a href="{{url_for('myaccount')}}">
        {# <img src="{{ url_for('static', filename='backgrounds/background.png') }}"
             alt="Athletics"
             class="banner"> #}
        <button class="banner"></button>
    </a>
</div>

<script>
    function toggleMenu() {
        document.getElementById("sideMenu")
                .classList.toggle("open");

        document.getElementById("overlay")
                .classList.toggle("show");
    }
</script>
{% endblock %}