{%extends "base.html" %}
{% block content %}
<button class="hamburger" onclick="toggleMenu()">
    ☰
</button>

<nav id="sideMenu" class="side-menu">
    <a href="{{ url_for('index') }}">ホーム</a>
    <a href="{{ url_for('myaccount') }}">マイアカウント</a>
    <a href="{{ url_for('fuga') }}">fuga</a>
</nav>

<div id="overlay" class="overlay" onclick="toggleMenu()"></div>

<h1>fuga</h1>
<p>fugafugafugafugafuga</p>

<script>
    function toggleMenu() {
        document.getElementById("sideMenu")
                .classList.toggle("open");

        document.getElementById("overlay")
                .classList.toggle("show");
    }
</script>
{% endblock %}