{%extends "base.html" %}
{% block content %}
<button class="hamburger" onclick="toggleMenu()">
    ☰
</button>

<nav id="sideMenu" class="side-menu">
    <a href="{{ url_for('index') }}">ホーム</a>
    <a href="{{ url_for('myaccount') }}">マイアカウント</a>
    <a href="{{ url_for('fuga') }}">fuga</a>
</nav>

<div id="overlay" class="overlay" onclick="toggleMenu()"></div>

<h1>{{ current_user.id }}</h1>

<div class="follow">
    <div class="follower">
        <h2>フォロワー</h2>
        <p>{{ follower_count }}</p>
    </div>
    <div class="following">
        <h2>フォロー中</h2>
        <p>{{ following_count }}</p>

    </div>
</div>

<h2>過去の投稿</h2>

<div class="search">
    <form method="GET" action="{{ url_for('myaccount') }}">
        <input type="text" name="search" placeholder="検索" value="{{ search }}">
        <button type="submit">検索</button>
    </form>
</div>

{% for post in posts %}
<div class="post">
    <h2>{{ post.title }}</h2>

    <p>投稿者: {{post.userid}}</p>

    <p>{{ post.comment }}</p>

    {% if post.image %}
        <img src="/uploads/{{ post.image }}" width="300">
    {% endif %}

    <br><br>

    <form action="/reset" method="POST" onsubmit="return confirmReset()">
        <button type="submit" id="delete-btn">削除</button>
        <input type="hidden" name="id" value="{{ post.id }}">
    </form>
</div>
{% endfor %}

<script>
    function confirmReset() {
        return confirm('本当に削除しますか？');
    }
</script>

<script>
    function toggleMenu() {
        document.getElementById("sideMenu")
                .classList.toggle("open");

        document.getElementById("overlay")
                .classList.toggle("show");
    }
</script>
{% endblock %}